.Nav{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow:column;
  align-items: center;
  height: 100%;
  z-index: 0;

   
}

@media(min-width:500px)
{
    .Nav
    {
        flex-flow:row;
    }
    .Nav li{
    
        width: max-content;
    }
}